<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administration | HLCS</title>
    <%- include('components/font'); %>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
      }
      header {
        display: flex;
        justify-content: space-between;
        background-color: #333;
        color: lightgray;
        padding: 20px;
      }
      .container {
        padding: 20px;
      }
      .flex {
        display: flex;
      }
      .wrap {
        flex-wrap: wrap;
      }
      card {
        flex:1;
        min-width: 200px;
        min-height: 180px;
        background-color: #333;
        margin: 10px;
        border-radius: 10px;
        padding: 20px;
        color: lightgray;
      }
      card-title {
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        display: block;
        margin: -20px 0 40px -20px;
        padding: 20px;
        border-radius: 5px 5px 0 0;
        background-color: lightblue;
        color: black;
      }
      card-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      a {
        color: lightgray;
        text-decoration: none;
      }
      .stato {
        color: white;
        font-size: 15px;
        padding: 15px;
        border-radius: 5px;
        text-transform: uppercase;
      }
      .stato.aperto {
        background-color: green;
      }
      .stato.chiuso {
        background-color: red;
      }
      .control-btn {
        box-shadow: none;
        border: none;
        background-color: blue;
        color:white;
        padding: 15px;
        border-radius: 5px;
      }
      .control-btn:hover {
        cursor: pointer;
        background-color: #27b8e8;
      }
      .control-btn.disabled {
        background-color: rgb(186, 195, 198);
        cursor: not-allowed;
        pointer-events: none;
      }
      
      .status_label::after{
        display: block;
        color: white;
        font-size: 15px;
        padding: 15px;
        border-radius: 5px;
        background-color: red;

      }
      .external_door_locked.status_label::after{
        content: "BLOCCATO";
        
      }
      .external_door_unlocked.status_label::after {
        content: "BLOCCATO";
        animation: blink_external_door_unlocked 60s linear;
      }
      @keyframes blink_external_door_unlocked {
        0% {
          background-color: green;
          content: "SBLOCCATO";
        }
        99.9% {
          background-color: green;
          content: "SBLOCCATO";
        }
        100% {
          background-color: red;
          content: "BLOCCATO"
        }
      }
      .external_door_unlocked.contatore::after {
        content: "";
        display: block;
        animation: contatore 60s linear;
      }
      @keyframes contatore {
        <% for(let i = 0; i < 60; i++){ %>
        <%= (i*100/60) %>% {
          content: "<%= 60-i %> Secondi";
        }
         <% } %>

         100% {
          content: "";
         }
      }
      .green{
        color: green;
      }
    </style>
  </head>
  <body>
    <header>
      <div>HLCS Presence</div>
      <div>
        <a href="/accounts/administration">Admin</a>
        <a href="/accounts/logout">Log out</a>
      </div>
    </header>
    <main class="container">
      <h1>Control panel</h1>
      <h3>Bentornato <%= username %> 😆</h3>
      <div class="flex wrap">
        <card>
          <card-title> Porta interna </card-title>
          <card-content>
            <div class="stato aperto">Aperto</div>
            <a class="control-btn <%= permission.includes('unlock-internal-door')?'':'disabled' %>" href="/gates/internal/unlock">Apri</a>
          </card-content>
        </card>
        <card>
          <card-title> Porta esterna </card-title>
          <card-content>
            <div class="<%= externalDoorUnlocked?'external_door_unlocked':'external_door_locked' %> status_label"></div>
            <a class="control-btn <%= permission.includes('unlock-external-door')?'':'disabled' %>" href="/gates/external/unlock">Apri</a>
            <div class="<%= externalDoorUnlocked?'external_door_unlocked':'' %> contatore"></div>
          </card-content>
        </card>
        <card style="flex:2">
          <card-title> Ultimi ingressi</card-title>
          <card-content>
            <ul>
              <% lastestEnters.forEach(function(enter){ %>
              <li><strong class="green"><%= enter.username %></strong> - <%= logTypeString[enter.event] %> - <strong> <%= enter.timeSince %></strong> </li>
              <% }); %>
            </ul>
          </card-content>
        </card>
      </div>
    </main>
  </body>
</html>