<!DOCTYPE html>
<html lang="it">
  <head>
    <%- include('components/head_dashboard'); %>
    <%- include('components/style_dashboard'); %>
    <style>
      
      .stato {
        color: white;
        font-size: 15px;
        padding: 15px;
        border-radius: 5px;
        text-transform: uppercase;
      }
      .stato.aperto {
        background-color: green;
      }
      .stato.chiuso {
        background-color: red;
      }
      .status_label::after{
        display: block;
        color: white;
        font-size: 15px;
        padding: 15px;
        border-radius: 5px;
        background-color: red;

      }
      .external_door_locked.status_label::after{
        content: "BLOCCATO";
        
      }
      .external_door_unlocked.status_label::after {
        content: "BLOCCATO";
        animation: blink_external_door_unlocked 60s linear;
        animation-delay: -<%=  externalDoorUnlockedSince %>ms;

      }
      @keyframes blink_external_door_unlocked {
        0% {
          background-color: green;
          content: "SBLOCCATO";
        }
        99.9% {
          background-color: green;
          content: "SBLOCCATO";
        }
        100% {
          background-color: red;
          content: "BLOCCATO"
        }
      }
      .external_door_unlocked.contatore::after {
        content: "";
        display: block;
        animation: contatore 60s linear;
        animation-delay: -<%= externalDoorUnlockedSince %>ms;
      }
      @keyframes contatore {
        <% for(let i = 0; i < 60; i++){ %>
        <%= (i*100/60) %>% {
          content: "<%= 60-i %> Secondi";
        }
         <% } %>

         100% {
          content: "";
         }
      }
      
    </style>
  </head>
  <body>
      <%- include('components/header'); %>

    <main class="container">
      <h1>Control panel</h1>
      <h3>Bentornato <%= username %> 😆</h3>
      <flex-wrap>
        <card>
          <card-title> Porta interna </card-title>
          <card-content>
            <div class="stato aperto">Aperto</div>
            <a class="control-btn <%= permission.includes('unlock-internal-door')?'':'disabled' %>" href="/gates/internal/unlock">Apri</a>
          </card-content>
        </card>
        <card>
          <card-title> Porta esterna </card-title>
          <card-content>
            <div class="<%= externalDoorUnlocked?'external_door_unlocked':'external_door_locked' %> status_label"></div>
            <a class="control-btn <%= permission.includes('unlock-external-door')?'':'disabled' %>" href="/gates/external/unlock">Apri</a>
            <div class="<%= externalDoorUnlocked?'external_door_unlocked':'' %> contatore"></div>
          </card-content>
        </card>
        <card style="flex:2">
          <card-title> Ultimi ingressi</card-title>
          <card-content>
            <ul style="list-style: disclosure-closed;">
              <% lastestEnters.forEach(function(enter){ %>
              <li><strong class="green"><%= enter.username %></strong> - <%= logTypeString[enter.event] %> - <strong> <%= enter.timeSince %></strong> </li>
              <% }); %>
            </ul>
          </card-content>
        </card>
      </flex-wrap>
    </main>
  </body>
</html>